<html xmlns:th="http://www.thymeleaf.org">
<head>

<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{css/styles.css}">
<link rel="stylesheet" th:href="@{/webjars/font-awesome/5.8.1/css/fontawesome.min.css}">
<link rel="stylesheet"
	th:href="@{/webjars/jquery-ui/1.12.0/jquery-ui.css}">
<link rel="stylesheet"
	th:href="@{/webjars/jquery-ui/1.12.0/jquery-ui.theme.css}">

<script type="text/javascript"
	th:src="@{/webjars/jquery/3.4.0/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{js/home.js}"></script>
<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/sockjs-client/sockjs.min.js}"></script>
<script th:src="@{/webjars/stomp-websocket/stomp.min.js}"></script>
<script type="text/javascript"
	th:src="@{/webjars/datatables/1.10.19/js/jquery.dataTables.min.js}"></script>

<script type="text/javascript"
	th:src="@{/webjars/jquery-ui/1.12.0/jquery-ui.js}"></script>


<title>Home Page</title>
</head>
<body>
	<div>
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-xl-12">
					<img th:src="@{images/logo_transparent.png}"
						style="width: 200px; height: 150px;">
				</div>
			</div>
		</div>
	</div>
	<div>
		<hr
			style="BORDER-TOP: #cccccc 1px solid; BORDER-BOTTOM: medium none; HEIGHT: 2.5px">
		<div class="container">
			<div class="row" style="margin: 0px -15px; padding: 0px 0px 0px 0px;">
				<div class="col-md-12 style=" >
					<div>
						<ul class="nav nav-tabs">
							<li class="nav-item"><a class="nav-link active" role="tab"
								data-toggle="tab" href="#tab-1">File Upload</a></li>
							<li class="nav-item"><a class="nav-link" role="tab"
								data-toggle="tab" href="#tab-2">Finder</a></li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane active fade show active" role="tabpanel"
								id="tab-1">
								<div class="row">
									<div class="col">
										<hr style="opacity: 0;">
									</div>
								</div>

								<div class="row">
									<form>
										<div class="col-xl-4">
											<input type="file" id="fileName" name="fileName"
												accept="*.zip">
										</div>
										<br>
										<div class="col-xl-2">
											<button class="btn btn-primary" type="button"
												id="uploadFileButton">Upload</button>
										</div>
									</form>
								</div>
								<div class="row" style="margin: 20px -15px;">
								<div class="col">
									<div id="progressBarDiv" class="card" style="background-color: rgb(247, 246, 245);">
										<div class="card-body">
											<h4>
												<small class="display-inline-block pull-right"></small>
											</h4>
											<p>
												Status: <strong id="progressStatusText" class="text-primary">Extracting XML data and Saving to Hana DB
												</strong>
											</p>
											<div class="progress">
												<div id="progressBarMarker" class="progress-bar" aria-valuenow="70"
													aria-valuemin="0" aria-valuemax="100" style="width: 70%;">70%</div>
											</div>
											<div class="row">
												<div class="col-md-6">
													<p id="processedRecords">
                                                        Processed Records: 23,000<br />
                                                    </p>
												</div>
												<div class="col-md-6">
													<p class="text-right" id="TotalRecords">
														Total:40,000<br />

												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							</div>


							<div class="tab-pane fade" role="tabpanel" id="tab-2" >
								<div class="row">
									<div class="col">
										<hr style="opacity: 0;">
									</div>
								</div>
								<div class="row"></div>
								<div class="row">
									<div class="col">
										<b style="margin-left: 12px;">Enter One of the following
											fields to search LEI records:</b>
										<div class="label" style="margin-left: 14px;"><br>
											<label>Legal Name <input type=text name=foo id=foo /></label>
											<label style="margin-left: 90px;">Country<input
												type=text name=bar id=bar /></label> <label
												style="margin-left: 96px;">Status<br> <select
												name="status" style="height: 28px;">
													<option>Issued
													<option>Annulled
													<option>Lapsed
													<option>Duplicate
													<option>Merged
													<option>Retired
													<option>Pending-Transfer
													<option>Pending-Archival
											</select></label>
											<button class="btn btn-primary" type="button"
												id="uploadFileButton" style="margin-left: 100px">SEARCH</button>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>

</html>

